.fixed {
  position: fixed;
}
.flex {
  display: flex;
}
.themeColor {
  background-color: black;
}

.noselect {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  height: 2rem;
  padding: 1rem;
}

.pointer {
  cursor: pointer;
}
.noline {
  text-decoration: none;
}
.tiny {
  width: 2rem;
}
.small {
  width: 3rem;
}
.middle {
  width: 6rem;
}
.littlebig {
  width: 10rem;
}
.big {
  width: 20rem;
}
.huge {
  width: 40rem;
}
.right {
  margin-left: auto;
}
a {
  margin: 1rem;
}
.white {
  color: white;
}
.underbox {
  border-bottom: 3px solid rgb(240, 240, 240);
}
.following {
  align-items: center;
  margin: 0;
}
.vC {
  margin-top: 6px;
}
li:hover {
  background-color: rgb(220, 220, 220);
}
.rss {
  border-radius: 20%;
  background-color: rgb(255, 81, 81);
  width: 2rem;
  color: white;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
  margin-right: 1rem;
  padding: auto;
}
.section {
  font-size: 10rem;
  margin-top: 52px;
  margin-left: 20rem;
}

#followingUl li ::-webkit-scrollbar {
  width: 1rem;
}
.article {
  width: 20rem;
  height: 12rem;
  background-image: url("../img/defualtUser.png");
  background-size: 20rem 12rem;
}
.explain {
  align-items: center;
}
